.header{
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;   
}

.see-all{
padding: 5px;
outline: none;
border: none;
background-color: #E30B5C;
border-radius: 25px;
height: 40px;
width: 100px;
font-size: 16px;
font-weight: 100;
color: #fff;
}



  
  
  